[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spatpersist"]
	path = spatpersist
	url = https://github.com/emre-cebeci/spatpersist
